/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,600;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav.bg-white {
  width: 100%;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

li {
  padding: 5px;
}

div.block.py-2.pr-4.pl-3.border-b.border-gray-100:hover {
  color: #000;
}

div.block.py-2.pr-4.pl-3.border-b.border-gray-100 {
  border-bottom: none;
  opacity: 0.8;
}

.link-custom-color {
  color: rgb(249, 62, 255);
  transition: 0.2s all ease-out;
  font-size: 17px;
}

.link-custom-color:hover {
  opacity: 0.7;
}

.link-activo {
  color: #d002d7;
  font-weight: bold;
  padding: 5px;
  transition: all 0.2 ease-in-out;
  border-radius: 10px;
}

/* HOME */
.servicios {
  margin: 0 auto;
  justify-content: center;
  gap: 15px;
  background-color: #6c02d7;
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
